body {
    margin: 0px;
}

.red {
    background-color: red;
    height: 100px;
}

.blue {
    background-color: blue;
    height: 100px;
    margin: 20px 0 20px 0;
}

.green {
    background-color: green;
    height: 100px;
}