.container {
    border: 8px solid black;
    height: 360px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.items {
    width: 50px;
    height: 60px;
    margin: 2px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid green;
    background-color: yellow;
}