body {
    margin: 20px;
}

.card-container {
    margin: auto;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    border: 2px solid purple;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-image {
    width: 150px;
}